@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #4046fb, #27c2fe, #d849fb);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button{
  cursor: pointer;
}
